.dark-mode{
    background-color: darken($grisOscuro, 10);

    p {
        color: $blanco;
    }
    a, h1, h2, h3, h4{
        color: $gris;
    }
    .anuncio,
    .resumen-habitacion{
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;

        .precio{
            color: $verde;
        }
        .icono{
            filter: invert(100%)
        }
    }

    .texto-nosotros blockquote{
        color: $blanco;
    }

    .formulario{
        label,
        legend,
        p{
            color: $gris;
        }
        
        input:not([type=submit]),
        textarea,
        select{
            background-color: $grisOscuro;
            color: $blanco;
            border: 1px solid $grisOscuro;
        }


    }
    @media (max-width: 768px) {
        .tabla-responsive tr {
            border: 1px solid #757171;
            box-shadow: 0 2px 4px rgba(162, 119, 1, 0.86);
        }
    }
}