.seccion {
    margin-top: calc($separacion / 2);
    margin-bottom: calc($separacion / 2);
}
.contenido-centrado {
    max-width: 80rem;
}
.alinear-derecha{
    display: flex;
    justify-content: flex-end;
}
.alinear-centro{
    display: flex;
    justify-content: center;
}
.w-100{
    width: 100%;
}
#message {
    // position: fixed;
    position: relative;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgreen;
    padding: 30px;
    border-radius: 9px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}