@include tablet{
    .contenedor-anuncios{
        @include grid(3, 2rem);
    }
    
    .anuncio{    
        .contenido-anuncio{
            h3{
            font-size: 1.7rem;
            font-weight: $bold;
            }
            p{
                font-size: 1.5rem;
            }
        }
    }
}

.anuncio{
    background-color: lighten($gris, 5);
    border: 1px solid lighten($gris, 5);
    margin-bottom: 2rem;

    .contenido-anuncio{
        padding: 2rem;
    }
    h3, p{
        margin: 0;
        
    }
    h3{
      font-size: 3rem;
    }
    p{
        font-size: 2rem;
    }
    
}
.precio{
    color: $verde;
    font-weight: $bold;
    font-size: 2.4rem;
}

.iconos-caracteristicas{
    display: flex;
    list-style: none;
    max-width: 40rem;
    padding: 0;
    li{
        flex:1;
        display: flex;
        img{
            flex: 0 0 2rem;
            margin-right: 1rem;
        }
        p{
            font-weight: $black;
        }
    }
}