.alerta{
    padding: .5rem;
    text-align: center;
    color: $blanco;
    font-weight: $bold;
    text-transform: uppercase;
    
    &.error{
        background-color: $rojo;
        margin: 1rem;
    }
    &.exito{
        background-color: $verde;
        
    }
    &.guarda{
        background-color: $amarillo;
    }
}
table, .habitaciones{
    margin-top: 4rem;
    width:100%;
    border-spacing: 0;

    thead{
        background-color: $verde;

        th{
            color: $blanco;
            padding: 2rem;
            
        }
        
    }
    td{
        color: $amarillo;
        max-width: 30rem;
    }
    .imagen-tabla{
        width: 10rem;
        
    }
    
}
table, .reservas {
    margin-top: 4rem;
    width:100%;
    border-spacing: 0;

    thead{
        background-color: $verde;

        th{
            color: $blanco;
            padding: 2rem;
            
        }
        
    }
    td{
        color: $amarillo;
        max-width: 30rem;
    }
    .imagen-tabla{
        width: 10rem;
        
    }
    
}

/* Estilo para dispositivos móviles */
@media (max-width: 768px) {
    .tabla-responsive {
        margin: 0 auto; /* Centra la tabla horizontalmente */
        width: 90%; /* Ancho máximo de la tabla */
    }
    .tabla-responsive th {
      display: none;
    }
    .tabla-responsive tr {
        border: 1px solid #a6a7a1;
        border-radius: 15px;
        box-shadow: 0 2px 4px rgba(4, 4, 4, 0.1);
    }
    .tabla-responsive td {
      display: block;
      margin-bottom: 6px;
      
    }
  
    .tabla-responsive td::before {
        content: attr(data-label) ": ";
        font-weight: bold;
    }
  }
  
.imagen-small{
    width: 20rem;
}
